In [88]:
import pandas as pd
course_name = ["Data Science", "Machine Learning", "Big Data", "Data Engineer"]
duration = [2, 3, 6, 4]
df = pd.DataFrame(data = {"course_name": course_name, "duration": duration})

In [89]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

**Q1. Write a code to print the data present in the second row of the dataframe, df.**

In [90]:
print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

**Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?**

- loc: gets rows (or columns) with particular labels.
- iloc: get rows (or columns) with particular integer locations (indexes)

**Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].**

In [91]:
new_df = df.reindex([3, 0, 1, 2])

In [92]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [93]:
print(new_df.loc[2])

course_name    Big Data
duration              6
Name: 2, dtype: object

In [94]:
print(new_df.iloc[2])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

- There is difference between the outputs. After reindexing, the index not following the sequence order like before, so when executing .iloc[2], the 2nd index start from the top will be shown as an output. .loc[2] will not be affected.

In [95]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [96]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.740518  0.593705  0.224406  0.838076  0.160165  0.873062
2  0.395775  0.844857  0.387160  0.446690  0.136697  0.481462
3  0.512948  0.594961  0.411448  0.492830  0.243564  0.121462
4  0.720554  0.145809  0.903651  0.839777  0.996384  0.711264
5  0.486335  0.105821  0.301100  0.598590  0.302223  0.268715
6  0.317632  0.898852  0.920260  0.492947  0.043871  0.201663

**Q4. Write a code to find the following statistical measurements for the above dataframe df1:**

**(i) mean of each and every column present in the dataframe.**

**(ii) standard deviation of column, ‘column_2’**

In [97]:
# (i)
df1.mean(axis = 0)

column_1    0.528960
column_2    0.530667
column_3    0.524671
column_4    0.618151
column_5    0.313817
column_6    0.442938
dtype: float64

In [98]:
# (ii)
df1.std(axis = 0)

column_1    0.170843
column_2    0.337933
column_3    0.307242
column_4    0.178128
column_5    0.346069
column_6    0.300135
dtype: float64

In [99]:
df1["column_2"].std()

0.33793275871271466

**Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.**

If you are getting errors in executing it then explain why.

[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [100]:
df1.iloc[1, 1] = "data science"

In [101]:
df1

   column_1      column_2  column_3  column_4  column_5  column_6
1  0.740518      0.593705  0.224406  0.838076  0.160165  0.873062
2  0.395775  data science  0.387160  0.446690  0.136697  0.481462
3  0.512948      0.594961  0.411448  0.492830  0.243564  0.121462
4  0.720554      0.145809  0.903651  0.839777  0.996384  0.711264
5  0.486335      0.105821  0.301100  0.598590  0.302223  0.268715
6  0.317632      0.898852  0.920260  0.492947  0.043871  0.201663

In [102]:
df1["column_2"].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

- This operation cannot be executed due to unsupported operand type(s) for +: 'float' and 'str'

**Q6. What do you understand about the windows function in pandas and list the types of windows functions?**

- Windows function in pandas are comprised by looking back the length of the window from the current observation.
- List of the types of windows functions:
    - .rolling() return Rolling object
    - .rolling() return Window object
    - .expanding()
    - .ewm()

**Q7. Write a code to print only the current month and year at the time of answering this question.**

In [ ]:
print(pd.datetime.today())

2023-03-10 12:19:39.241114

C:\Users\Tran Ngoc Tuan\AppData\Local\Temp\ipykernel_15972\1179075596.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  print(pd.datetime.today())

**Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.**

In [ ]:
date1 = pd.to_datetime(input("Enter first date: "))
date2 = pd.to_datetime(input("Enter second date: "))
print(date2 - date1)

-1 days +00:00:00

**Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.**

In [105]:
try:
    file_path = input("Enter file path: ")
    column_name = input("Enter column name: ")
    category_order = input("Enter category order (True / False): ")
    if category_order == "True":
        category_order = True
    elif category_order == "False":
        category_order = False
    else:
        category_order = None
    
    df = pd.read_csv(file_path)
    df.sort_values(column_name, ascending = category_order, inplace = True)
    print(df[column_name])
except Exception as e:
    print(e)

3              Brian C.
0            Enrique B.
6             Ghulam D.
1              James G.
5            Jinfeng C.
2              LUCAS M.
10     Lucas Moreira M.
7            Opeyemi O.
4      Oscar Eduardo G.
9           Ramgopal P.
8              Shaun R.
11    Shounak Laxman Y.
Name: Name, dtype: object

**Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.**

In [ ]:
try:
    file_path = input("Enter file path: ")
    data = pd.read_csv(file_path)
    data.plot.bar(stacked = True)
except Exception as e:
    print(e)

**Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.**

In [112]:
try:
    file_path = input("Enter file path: ")
    student_data = pd.read_csv(file_path)
    print("Mean:", student_data["Test Score"].mean())
    print("Median:", student_data["Test Score"].median())
    print("Mode:", student_data["Test Score"].mode())
except Exception as e:
    print(e)

Mean: 83.5
Median: 85.0
Mode: 0    85
Name: Test Score, dtype: int64